.hotel-image{
    height: 200px;
    width: 250px;
}
.social-media-image{
    height: 20px;
    width: 22px;
}
#list-view{
    margin-left: 25px;
    display: block;
}
#map{
    margin-top: 15px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
#radisson{
    margin: 2%;
    background-color:lightgrey;
    width: 40%;
    display: inline-block;
}
#lalit{
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
    display: inline-block;
    margin-left: 11%;
}
#taj-palace{
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
    display: inline-block;
}
#map-view{
    visibility: visible;
    margin-right: 5%;
}
.div{
    display: flex;
    justify-content: center;
    margin-right: 1%;
}
.div1{
    display: flex;
}
.desc-div{
    margin-left: 20px;
    margin-top: 10px;
    font-family: "Ubuntu", sans-serif;
}
.color{
    color: black;
}
.line{
    text-decoration: none;
}
#pills-tab{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
#pills-listview-tab{
    color: black;
}
#pills-mapview-tab{
    color: black;
}
#radisson:hover{
    background-color: rosybrown;
}
#lalit:hover{
    background-color: rosybrown;
}
#taj-palace:hover{
    background-color: rosybrown;
}
.desc-div:hover{
    color: black;
}
.checked{
    color: orange;
}
@media only screen and (min-width: 576px) and (max-width: 768px){
    #radisson{
        display: flex;
        width: 93%;
        margin-top: 5%;
    }
    #lalit{
        display: flex;
        width: 93%;
        margin-left: 2%;
        margin-top: 5%;
    }
    #taj-palace{
        display: flex;
        width: 93%;
        margin-top: 5%;
    }
    h3{
        width: 71%;
    }
    #mapview{
        width: 105%;
    }
    .footer{
        height: 5%;
    }
    #name{
        font-weight: bold;
    }
    input{
        width: 250%;
    }
}
@media only screen and (max-width: 576px){
    #radisson{
        display: block;
        width: 98%;
        margin-left: -2%;
    }
    #lalit{
        display: block;
        width: 98%;
        margin-left: -2%;

    }
    #taj-palace{
        display: block;
        width: 98%;
        margin-left: -2%;
    }
    .div1{
        display: block;
    }
    .desc-div{
        padding-bottom: 1%;
        margin-left: 2%;
    }
    .hotel-image{
        width: 329px;
    }
    #mapview{
        width: 105%;
    }
    #name{
        font-weight: bold;
    }
}
