body{
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #e0e0e0;
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;
}
.header{
    background-color: rosybrown;
    width: 100%;
    top: 0px;
    
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    background-color: rosybrown;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    height: 60px;
    width: 60px;
}
.logo-div{
    margin-left: 1%;
    height: 60px;

}
#login{
    
    color: black;
    line-height: 60px;
    text-decoration: none;
}
.login-div{
    margin-right: 2%;
}
.contact-div{
    margin-left: 2%;
}
#contact{
    text-decoration:none;
    color: black;
}
.apps{
    margin-right: 1%;
}
#name{
    
    font-size: 10px;
}   