html{
    height: 100%;
}
#radisson-blu-hotel-image{
    height: 500px;
    width: 500px;
    margin: 2% 4% 0%;
}

#booking-details{
    margin: 0% 4% 1%;
}
#radisson-hotel-details{
    margin: 1% 4% 2%;
}