html{
    height: 100%;
}
.city{
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 25%;
    margin: 0 auto;
}
.social-media-image{
    height: 20px;
    width: 22px;
}
#search-bar{
background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
background-position: center;
height: 380px;
background-size: cover;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}
.city-cards{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
#bar{
    background-color: #f1f1f1;
    border: 1px solid transparent;
    border-radius: 12px;
    left: 1%;
    position: relative;
    padding: 10px;
    font-size: 16px;
    width: 100%; 
    margin-left: 35%;
    margin-right: 35.5%;      
}
.view-div{
    text-align: center;
}
#view{
    text-decoration: none;
    color: black;
}







