.hotel-image{
    height: 200px;
    width: 250px;
}
.social-media-image{
    height: 20px;
    width: 22px;
}
#list-view{
    margin-left: 25px;
    display: block;
}
#map{
    margin-top: 15px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
#radisson{
    margin: 2%;
    background-color:lightgrey;
    width: 40%;
    display: inline-block;
}
#lalit{
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
    display: inline-block;
    margin-left: 11%;
}
#taj-palace{
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
    display: inline-block;
}
#map-view{
    visibility: visible;
    margin-right: 5%;
}
.div{
    display: flex;
    justify-content: center;
    margin-right: 1%;
}
.div1{
    display: flex;
}
.desc-div{
    margin-left: 20px;
    margin-top: 10px;
}
.color{
    color: black;
}
.line{
    text-decoration: none;
}
#pills-tab{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
#pills-listview-tab{
    color: black;
}
#pills-mapview-tab{
    color: black;
}
#radisson:hover{
    background-color: rosybrown;
}
#lalit:hover{
    background-color: rosybrown;
}
#taj-palace:hover{
    background-color: rosybrown;
}
.desc-div:hover{
    color: black;
}
.checked{
    color: orange;
}