#loading{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 20%;
    border-radius: 50%;
    border: 12px solid  #f3f3f3;
    border-top-color: #444444;
    animation: loading 1s linear infinite;
}
@keyframes loading {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
