#radisson-blu-hotel-image{
    height: 500px;
    width: 500px;
}
#hotel-info{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
#customer-info{
    margin: 2%;
}
#payment-info{
    margin: 2%;
    padding: 1% 2%;
    border: 1px solid black;
    border-radius: 5px;
}
#pay-div{
    text-decoration: none;
    color: black;
}